# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Angular / Node
pharmacy-ui/node_modules/
pharmacy-ui/dist/
pharmacy-ui/.angular/

# IDE
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
*.pfx
